opencv-python
numpy
pyttsx3
requests
speechrecognition
openai
threading
asyncio
shutil
webbrowser
json
psutil
subprocess
smtplib
pyautogui
open3d
forex-python
google-api-python-client
oauth2client
pickle
flask
bleak
qiskit
spotipy
dlib
bluetooth
yfinance
wolframalpha
paho-mqtt
tensorflow
transformers
kivy
kivy-garden
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
